

.why{

    color:#E52421;
    
}
.Consulting{

    margin-left: 2rem;
    
}
.Consulting1{

    margin-left:1rem;
    margin-top: -5px;
}
.Consulting2{
    margin-left:5rem;
    margin-top: -5px;
}
.icon{
   
    margin-left: -3rem;
}
.icon5{
    
    margin-top:1rem;}

.TextHolder{
 margin-top:-3rem;
 margin-left: -20px;
}

.bara1{
    margin-top:-5px;
    margin-left:16.7rem;
}
.whyus{

    width: 410px;
    margin-left: -4rem;
    margin-top: 2.5rem;
}

.card-body-10 {
    background-color: #F0EFE9;
    width: 90%;
    height: 14rem;
    margin-top: -11rem;
   
    z-index: -1;
  }
  .bara1{

    font-size:small;
    color: rgb(198, 188, 188);
  }
.process{

margin-top: 1rem;
margin-left: 10rem;

}